/* PS5, PS4, Nintendo and XBOX Selling page css */
section{
    background-color: rgb(253, 249, 249);
    height: 2000px;
    width: 1897px;;
    color:black;
    text-align: center;
}
section h1{
    padding-top:30px;
    font-size:20px;
    font-family: 'Roboto',sans-serif;
}
section h2{
    color:rgb(50, 50, 50);
    font-size: 14px;
}
section h3{
    color:grey;
}
.slider-wrapper {
    position: relative;
    margin-top:40px;
    margin-left:550px;
    margin-right:550px;
    background-color: black;
  }
  
  .slider {
    --slide-width: clamp(320px, 75vw, 800px);
    --slide-height: clamp(240px, 75vh, 600px);
    display: grid;
    grid-auto-flow: column;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
    max-width: var(--slide-width);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2), 0 2px 20px rgba(0, 0, 0, 0.25);
    overflow-y: hidden;
    overflow-x: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .slider::-webkit-scrollbar {
    display: none;
  }
  
  .slide {
    scroll-snap-align: start;
    width: var(--slide-width);
    height: var(--slide-height);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    gap: 15px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dots a {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
    cursor: pointer;
  }
  .dots a:hover {
    opacity: 1;
  }
  
  .caption {
    display: block;
    margin-top: 25px;
    color: #999;
    letter-spacing: 0.5px;
  }

article.select{
    position: relative;
    margin-top:-50px;
}
article.select p{
    display: inline-block;
    font-size:18px;
}
select{
    margin-top:10px;
    width:100px;
    padding-left:40px;
    font-size:16px;
}
button{
    padding:10px 20px 10px 20px;
    font-size:20px;
    border:none;    
   
}
button:hover{
  color:white;
}
.button-cods{
  background-color: rgb(255, 230, 0);
  color:black;
  margin-right: -10px;;
  transition: 0.4s ease-in-out;
  margin-top:20px;
  width:230px;
}
.button-cods:hover{
  border-radius: 5px;
}
.button-cods:hover:before{
  box-shadow: rgba(229, 255, 0, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  transition: 0.4s ease-in-out;
}
.button-cods:after{
  background-color: #000000;
}
.button-cods span{
  font-family: 'Roboto';
}
#moving-image {
  transition: transform 0.2s ease-out;
}
.queries {
  margin-top:50px;
  background-color: #f8f8f8;
  border-radius: 10px;
  padding: 20px;
  color: #333;
}

.block {
  margin-bottom: 20px;
}

h4 {
  color: #333;
  font-size: 22px;
  margin-bottom: 10px;
}

p {
  color: #555;
  font-size: 16px;
  line-height: 1.5;
}

.block ul {
  list-style-type: disc;
  
}

.block ul li {
  margin-top:5px;
  margin-bottom: 5px;
  list-style: disc;
  display: block;
  margin-left: 20px;
  font-size: 16px;;
}

details {
  margin-bottom: 15px;
  padding:20px 20px 20px 20px ;
  background-color: rgb(223, 223, 223);
  margin-left:500px;
  margin-right:500px;
  /* border-radius:5px; */
  width: 50%;
  border-bottom: solid 1px black;
  
}
details:hover{
  background-color: rgb(0, 115, 255);
}
details[open] {
  min-height: 50px;
  background-color: #e5e5e5;
  border:none;
}
details[open] summary{
  border-bottom: solid 1px black;
  padding-bottom:20px;
  color: #007bff;
}

.block2{
  padding:1px 10px 10px 10px ;
}
summary {
  font-weight: bold;
  cursor: pointer;
  color: #000000;
  display: flex;
  justify-content: space-between;
}
.block2 details {
  text-align: justify;
}
.block-2 details p{
  color:rgb(0, 0, 0);
  text-align: left; 
}
.plus{
  display:inline;
  font-size:20px;
}
details[open] .plus{
  transform: rotate(45deg);
}
.payment-opt{
  margin-top:10px;
  padding-top:1px;
  padding-bottom:30px;
}



#notification-container {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px;
  background-color: #000000;
  color: white;
  display: none;
  z-index: 999; 
}



@media only screen and (max-width: 768px) {
  body{
    width: 844px;
    
  }
  section {
      padding: 10px;
      width: 1030px;
  }

  .slider-wrapper {
      margin-left: 20px; 
      /* margin-right: 1000px/ */
  }

  .dots {
      bottom: 10px;
  }

  article.select {
      margin-top: 10px;
  }
}






