section{
    /* margin-top:1000px; */
    margin-left:200px;
    margin-right:300px;
}

section.about-us article p{
    font-size:20px;
    font-family: 'Roboto', sans-serif; 
}
section.about-us article img{
    /* mix-blend-mode: multiply; */
    height: 100px;
    width:100px;
}
section.about-us article .box{
    display: inline-block;

}
section.section-1{
    margin-top:800px;
}
section article h1{
    font-size:24px;
    font-family: 'Roboto', sans-serif;
}
section article p{
    padding-bottom:10px;
    font-size: 13px;
}
section article li{
    padding-bottom:10px;
    font-size: 13px;
}
section.about-us .slideshow {
    width: 74%;
    height: 100%;
    border: 0px;
    padding: 0px;
    margin: 0 auto;
    background-color: #000;
    overflow: hidden;
    counter-reset: slide;
    position: absolute;
  }
  
input[type="radio"] {
    position: absolute;
    opacity: 0;
    top: -25px;
    counter-increment: slide;
}
  input:checked + .slide {
    transform: translateX(0px);
    transition: transform 0.5s ease-in-out;
  }
  input:checked + .slide .slide__content {
    width: 100%;
    display: block;
  }
  input:checked + .slide .slide__content:before {
    color: #FFF;
    position: absolute;
    top: 10px;
    right: 10px;
    content: counter(slide) " of 5";
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    text-align: right;
  }
  input:checked:nth-of-type(1) ~ nav label:nth-child(1) {
    color: white;
  }
  input:checked:nth-of-type(2) ~ nav label:nth-child(2) {
    color: white;
  }
  input:checked:nth-of-type(3) ~ nav label:nth-child(3) {
    color: white;
  }
  input:checked:nth-of-type(4) ~ nav label:nth-child(4) {
    color: white;
  }
  input:checked:nth-of-type(5) ~ nav label:nth-child(5) {
    color: white;
  }
  
  .slide {
    transform: translateX(-101%);
    position: absolute;
    width: 50%;
    height: 100%;
    background-size: 50% 100%;
    transition: transform 0.5s ease-in-out;
    
  }
  .slide__content {
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
    padding: 50px;
    color: #DDD;
    position: absolute;
    left: 100%;
    display: none;
    animation-name: fade-in;
    animation-duration: 1s;
    animation-iteration-count: 1;
    opacity: 1;
  }
  .slide__content ul{
    display:inline-table;
  }
  .slide__html {
    display: none;
  }
  .slide:nth-child(2) {
    background: url(../images/logo-color.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }
  .slide:nth-child(2):after {
    position: absolute;
    margin: auto;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
  .slide__html {
    display: none;
  }
  .slide:nth-child(4) {
    background: url(../images/alex-escu-TuOcOyva11I-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }
  .slide:nth-child(4):after {
    position: absolute;
    margin: auto;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
  .slide__html {
    display: none;
  }
  .slide:nth-child(6) {
    background: url(../images/gow.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }
  .slide:nth-child(6):after {
    position: absolute;
    margin: auto;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
  .slide__html {
    display: none;
  }
  .slide:nth-child(8) {
    /* background: url(../images/RDR2.jpg); */
    background: url(https://th.bing.com/th/id/OIP.6YSncataSFqMZqQ_6g0-fQHaHa?rs=1&pid=ImgDetMain);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }
  .slide:nth-child(8):after {
    position: absolute;
    margin: auto;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
  .slide__html {
    display: none;
  }
  .slide:nth-child(10) {
    background : url(https://cdn.pixabay.com/photo/2017/12/26/21/19/circle-3041437_1280.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }
  .slide:nth-child(10):after {
    position: absolute;
    margin: auto;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
  
  .slideshow nav {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 60px;
    overflow: auto;
    background-size: 100%;
    height: 60px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #101010 10%);
  }
  
label {
    box-sizing: border-box;
    color: #AAA;
    font-weight: bold;
    display: block;
    width: calc((100% / 5) - 2%);
    margin: 5px 1% 5px 1%;
    height: 50px;
    line-height: 50px;
    border-bottom: solid 4px #AAA;
    text-align: center;
    float: left;
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  label:hover {
    cursor: pointer;
    color: #FFF;
    border-bottom: solid 4px #FFF;
  }
  label:nth-child(1) {
    left: calc(50% + (0 * (50% / 5)));
    border-bottom-color: #8e3838;
  }
  label:nth-child(2) {
    left: calc(50% + (1 * (50% / 5)));
    border-bottom-color: #ff0000;
  }
  label:nth-child(3) {
    left: calc(50% + (2 * (50% / 5)));
    border-bottom-color: #006eff;
  }
  label:nth-child(4) {
    left: calc(50% + (3 * (50% / 5)));
    border-bottom-color: #0044ff;
  }
  label:nth-child(5) {
    left: calc(50% + (4 * (50% / 5)));
    border-bottom-color: #04ff00;
  }

  .slide__content h1{
    /* font-family: 'Roboto', sans-serif;  */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    50% {
      transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }

/* 3 x 3 - columns x rows */
  #about_steam_features {
    text-align: center;
    position: relative;
    margin-top:1000px;
    margin-bottom:-680px;
    
}

.about_feature_icon img{
    height:80px;
    width:80px;
    position: absolute;
    margin-left:-50px; 
    background-color: #000000;
    padding:10px 10px 10px 10px ;   
    border-radius : 20px; 
    transition: 0.7s;
    background-color: rgb(64, 64, 64);
}
#about_steam_features img:hover{
    background-color: rgb(255, 0, 0);
    border-radius: 20px;
    
}
#about_steam_feature_title{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#about_steam_feature_subtitle{
    display: block;
}
#about_steam_features_grid{
    margin-top:100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

}
.about_feature_content{
    margin-top:60px;
    padding:50px 50px 50px 50px ;
}
.feature{
    padding-top:10px;
    transition: 0.5s;
}
.feature:hover{
    background-color:rgb(136, 136, 136);
    border-radius:20px;
    position: relative;
}

h1{
    font-family: 'Orbitron', sans-serif;
    font-size: 16px;
}
h1#browse{
    font-size:24px;
    margin-left:-20px;
}

section#categoryListing{
    position: relative;
    margin-top:100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    margin-left:250px;
}
section#categoryListing a{
    text-decoration: none;
    color:white;
    margin-right:200px;
}
.box{
    position: relative;
    padding:10px 10px 10px 10px ;
    text-align :center;
    border: solid grey 1px;
    border-radius: 10px;;
    width:300px;
    height:200px;
    margin-bottom:50px;
    transition: 0.5s;
    box-shadow: rgba(255, 0, 0, 0.2) 0px 7px 29px 0px;
}
.box:hover{
    border:solid red 1px;

}
.box img{
    height:100px;
    width:150px;
    border-radius : 20px;
}
section.imp-notice{
    background-color: rgb(20, 20, 20);
    height:350px;
    width:1897px;
    margin-left:0px;
}
section.imp-notice article{
    margin-left:200px;
}
section.imp-notice h1{
    position: relative;
    padding-top:100px;
    font-size: 26px;
}
section.imp-notice p{
    font-family:'Roboto' ;
    font-size:20px;
}
section.imp-notice img{
    height: 300px;
    width: 400px;
    position: absolute;
    margin-left:1200px;
    margin-top:-210px;
    border-radius:5px;
}