

section{
    margin-top:-20px;
    background: url(../images/playstation-5-fd-3840x2160.jpg);
    text-align:center;
    position: relative;   
}
section.intro{
    animation: slide-up 0.5s ;
}
section.intro h1 {
    padding-top:400px;
    font-size:38px;
    animation: slide-left 0.5s ;
}
section.intro p{
    font-size:20px;
    padding-bottom: 350px;
    animation: slide-left 0.8s ;
}
section.choose{
    background-color: white;
    background-image: none;
    margin-top:-25px;
    color:rgb(0, 0, 0);
    padding-bottom:280px;

}
section.choose h1{
    font-family: 'Roboto';
    padding-top:100px;
    font-size:30px;
}
section.choose img{
    display :inline-block;
    margin-right:50px;   
}
section.choose p{
    position: absolute;
    display: inline-block;
    margin-left:-380px;
    margin-top:640px;
    font-size:26px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section.choose .border{
    display: inline-block;
    border:solid black 1px;
    height: 600px;
}
section.choose button{
    border:none;
    padding:20px 20px 20px 20px;
    font-size:16px;
    box-shadow: rgba(0, 115, 255, 0.35) 0px 5px 15px;
    transition:0.5s ease-in-out;
}
section.choose button:hover{
    background-color: rgb(0, 123, 255);
    color:white;
}
section.xbox{
    background: url(../images/1257986-1920x1080-desktop-full-hd-xbox-background-image.jpg);
    padding-top:1000px;
}
section.xbox h1{
    position:relative;
    margin-top:-900px;
    color:black;
    font-size:40px;
    margin-left:580px;
}
section.xbox p{
    position:relative;
    color:black;
    font-size:26px;
    margin-left:680px;
    font-family: 'Roboto',sans-serif;
}
section.xbox a{
    margin-left:400px;
    cursor: pointer;
}
section.xbox button{
    width: 140px;
    height: 56px;
    overflow: hidden;
    border: none;
    color: #000000;
    background: none;
    position: relative;
    padding-bottom: 2em;
    cursor: pointer;
    margin-left: 30px;
}
section.xbox button > div,section.xbox button > svg{
    position:absolute;
    width: 100%;
    height: 100%;
    display: flex;
}
section.xbox button:before{
    content: "";
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: scaleX(1);
    transform-origin: bottom right;
    background: currentColor;
    transition: transform 0.25s ease-out;
}
section.xbox:hover:before{
    transform: scaleX(1);
    transform-origin: bottom left;
}
section.xbox button .clone > *,section.xbox button .text > *{
    opacity: 1;
    font-size: 1.3rem;
    transition: 0.2s;
    margin-left: 4px;
}
section.xbox button .clone > *{
    transform : translateY(60px);
}
section.xbox button:hover .clone > *{
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
section.xbox button:hover .text > *{
    opacity: 1;
    transform: translateY(-60px);
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

section.xbox button:hover .clone > :nth-child(1){
    transition-delay: 0.15s;
}
section.xbox button:hover .clone > :nth-child(2){
    transition-delay: 0.20s;
}
section.xbox button:hover .clone > :nth-child(3){
    transition-delay: 0.25s;
}
section.xbox button:hover .clone > :nth-child(4){
    transition-delay: 0.3s;
}
section.xbox button svg{
    width: 20px;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(-50deg);
    transition: 0.2s ease-out;
}
section.xbox button:hover svg{
    transform : translateY(-50%) rotate(-90deg);
}
section.xbox video{
    height: 300px;
    position: absolute;
    margin-top:80px;
    border: solid #000000 50px;
    border-radius: 10px;
    box-shadow: rgba(60, 255, 0, 0.6) 0px 3px 8px;
    
}
section.xbox video:hover{
    transform:scaleZ(100);
}
section.nintendo{
    background: url(../images/nintendo.webp);
    padding-top:500px;
    padding-bottom:500px;
    font-size:30px;
}
section.nintendo h1{
    margin-top:-400px;
    animation:jump-up 0.9s infinite;
    font-family: 'Ankh Sanctuary',sans-serif;
    font-weight: 100;
}
section.nintendo h2{
    margin-left:-800px;
    margin-top:100px;
    font-weight: 100;
    font-family:'Ankh Sanctuary',sans-serif;
}

@keyframes slide-up{
    0%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes slide-left{
    0%{
        transform: translateX(-300px);
    }
    100%{
        transfrom:translateX(0px);
    }
}
@keyframes jump-up{
    0%{
        transform:translateY(0px);
    }
    50%{
        transform : translateY(30px);
    }
    100%{
        transform : translateY(0px);
    }
}
@font-face{
    font-family: 'Ankh Sanctuary';
    src: url(../fonts/AnkhSanctuary-nROx4.ttf);
}